<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <%- include ("jogo.html") %>
        <input type="button">
        
    </body>
</html>